In [ ]:

from turtle import color
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.express as px

# np.random.seed(42)
# random_x = np.random.randint(1,101,100)
# random_y = np.random.randint(1,101,100)


# data = [go.Scatter(x = random_x,
#                    y = random_y,
#                    mode = 'markers',
#                    marker=dict(
#                         size=9,
#                         color='rgb(51,204,153)',
#                         symbol= 'circle',
#                         line= {'width':2} 
#                         ) )]


# layout = go.Layout(title ='THIS IS THE TITLE',
#                    yaxis = {'title': 'my Y axis'},
#                    xaxis = {"title":'my X axis'},
#                    hovermode='closest')
# fig = go.Figure(data = data, layout=layout)

# # fig1 = px.scatter(,title='exmple',)


# # pyo.plot(fig,filename='this a filename.html')
# fig.show()

# pandas course
## this is the start

In [ ]:
df = pd.read_csv(r'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv',usecols=['country','beer_servings'],index_col= 'country').squeeze()
df

## Chapter 2

### The .dtype Atribute

In [ ]:
ages = [27,49,37]

In [ ]:
pd.Series(ages)
pd.Series(ages,dtype='float')

In [ ]:
students = ['andrew','brie','kanika',]

In [ ]:
names_series = pd.Series(students)
names_series

In [ ]:
names_series.dtype

### index and Rangeindex

In [ ]:
book_list = ['Fooled By Randomness', 'Sapiens', 'Lenin on the Train']

In [ ]:
list_a = pd.Series(data=book_list,index=['funny','serious and amusing', 'kinda intersting'])
list_a.index

In [ ]:
list(pd.RangeIndex(start=4, stop=10, step=1))

In [ ]:
list(pd.RangeIndex(start=10, stop=-11, step=-1))

### Series And Index Names

In [ ]:
book_series = list_a

In [ ]:
book_series.size

In [ ]:
book_series.name

In [ ]:
book_series.name == None

In [ ]:
book_series.name = 'my fovorite books'
book_series

In [ ]:
book_series.index.name = 'my books'
book_series

### skill challenge

1.

In [ ]:
# 1. create a python list of length 4 that contains some of your favorite actors. so this shouls be a list of strings.
# call this list -assign it to a variable called - actor_names.
actor_name = ['Tom Cruise','Meryl Streep','Tom Hardy','Amanda Seyfried']

2.

In [ ]:

# 2. Next, create another python list of the same length that contains tour guesses for how old each actor is,
# feel fre to just use integers or floats.
actor_ages = [54.3, 62.1, 36.2, 33.4]

3.

In [ ]:
# 3. create a series that stores actor ages and labels the ages using the avtor names. to clarify, use 
# actor name in the index and actor age as values give this series a name of actors
actor_series = pd.Series(data=actor_ages,index=actor_name, name='actors')

4.

In [ ]:
# 4. Repeat step 3 but this time create the series from a python dictionary as an assitional 
# challenge.
# try not to type the dictionary manually, but instead dynamically create it 
# using the two lists defined in steps 1 and 2.
actors_dict = {'Tom Hardy':54.3,'Meryk streep':62.1}
pd.Series(actors_dict)

In [ ]:
list(zip(actor_name,actor_ages))

In [ ]:
dict(zip(actor_name,actor_ages))

Another Solution

In [ ]:
{name:age for name,age in zip(actor_name,actor_ages)}

### The head() And Tail() Methods

In [ ]:
int_series = pd.Series([ i for i in range(60)])
int_series

In [ ]:
int_series.size

In [ ]:
len(int_series)

In [ ]:
pd.options.display.min_rows = 40

### Extrating By Index Position

In [ ]:
from string import ascii_lowercase, ascii_uppercase

In [ ]:
ascii_lowercase

In [ ]:
pd.series(ascii_lowercase)

In [ ]:
len(list(ascii_lowercase))

In [ ]:
small_letters = ascii_lowercase
big_letters = ascii_uppercase

In [ ]:
alphabet = pd.series(letters)

### Accessing Elements By Label

In [ ]:
labeled_alphabet = pd.Series(data=list(ascii_lowercase),index=map(lambda x: 'label_' + x, list(ascii_uppercase)))

In [ ]:
labeled_alphabet['label_A']

In [ ]:
labeled_alphabet[0]

In [ ]:
labeled_alphabet[:3]

In [ ]:
labeled_alphabet[:'label_C']

In [ ]:
labeled_alphabet['label_G':'label_X']

### Bonus - The add_prefix() And add_suffix() Methods

In [ ]:
labeled_alphabet.add_prefix('this is ')

In [ ]:
labeled_alphabet.add_suffix(' this is the space after ')

In [ ]:
labeled_alphabet.label_D

### Boolean Masks And The .loc indexer

In [ ]:
labeled_alphabet['label_D': 'label_G'] # squre brackets supports a mix of syntaxes and functions, becuse of thet its also slower.

In [ ]:
labeled_alphabet.loc['label_D': 'label_G'] # the proper way to do label based extraction

In [ ]:
book_series.loc[[True,True,True]] # the usless way to do it

In [ ]:
labeled_alphabet.loc[[True for i in range(26)]] # the inner parentheses (round brakets) are because inside the .loc we are using a list.

In [ ]:
labeled_alphabet.loc[[True if i%2==0 else False for i in range(26)]]

### Extracting By Position With .iloc

In [ ]:
labeled_alphabet.iloc[0]

In [ ]:
labeled_alphabet.iloc[1:3]

In [ ]:
labeled_alphabet.iloc[[1,5,9]]

In [ ]:
labeled_alphabet.loc[lambda x: 'label_V']

In [ ]:
labeled_alphabet.loc[lambda x: ['label_V', 'label_E']]

In [ ]:
labeled_alphabet.loc[lambda x: [True for i in range(x.size)]]

In [ ]:
def every_fifth(x):
    return (True if i%5 ==0 else False for i in range(x.size))

labeled_alphabet.iloc[every_fifth]

### .get()

In [ ]:
labeled_alphabet.get('label_T')

In [ ]:
labeled_alphabet.get('label_t', default= 'you made a mistake in your input')

In [ ]:
labeled_alphabet.get(6)

### Selection By Label

|approach    |    Exmple      |     Comment |
|-----|------|-----|
|[ ]idx'ing      | serirs[' label ']| slices,callables, boolean masks|
|.loc[ ]  | series.loc[' label ']| slices,callables, boolean masks|
|dot access  | series.label |no slices, or boolean masks support|
|.get( )    | series.get(' label ')|no slice support, provides default forgiving|

## skill challenge
1. create a series of length 100 containing the squares of integers from 0 to 99. assign it to the variable squares.

In [ ]:

# squares = pd.Series(data=[i**2 for i in range(100)])      # his solution


squares = pd.Series(np.square(np.arange(0,101)))
squares.head()

2. Extract the last three items from the squares series using squares bracket indexing.

In [ ]:
squares[-3:]

3.Repeat Step 2 but using the .tail method instead.

In [ ]:
squares.tail(3)

4. Verify that output of steps 2 and 3 is the same using the .equals() method.

In [ ]:
squares[-3:].equals(  squares.tail(3))

# Chpater 3

# 3.Series Methods And Handling

### Reading in data with read_CSV()

In [ ]:

pd.read_csv(r'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv')

In [ ]:
pd.read_csv(r'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv',usecols=['country','wine_servings'])

In [ ]:
alcohol = pd.read_csv(r'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv',usecols=['country','wine_servings'],index_col= 'country').squeeze(1)

In [ ]:
alcohol.size

In [ ]:
alcohol.values

In [ ]:
alcohol.index

###  3. Series Sizing With .size, .shape, And len()

In [ ]:
alcohol.shape
alcohol.is_unique

### 4. Unique Values And Series Monotonicity

In [ ]:
alcohol.head().is_unique

In [ ]:
alcohol.nunique(dropna=False)
alcohol.nunique

In [ ]:
pd.Series([1,2,3]).is_monotonic

In [ ]:
pd.Series([1,2,3,3,3,3,3]).is_monotonic

In [ ]:
pd.Series([1,2,3,3,3,7,8,12,33,66,100]).is_monotonic

In [ ]:
pd.Series([1,2,3,3,3,75,80,12,33,66,100]).is_monotonic
pd.Series([1,2,3,3,3,75,80,12,33,66,100]).is_monotonic_decreasing
pd.Series([1,2,3,3,3,75,80,12,33,66,100]).is_monotonic_increasing

In [ ]:
pd.Series(reversed([1,2,3,3,3,7,8,12,33,66,100])).is_monotonic_decreasing

### 5. The count() Method

In [ ]:
alcohol.count()

In [ ]:
alcohol.size

### 6. Accessing And Counting NAs

In [ ]:
alcohol.isnull()

In [ ]:
alcohol[alcohol.isnull()]

In [ ]:
alcohol[alcohol.isnull()].index
list(alcohol[alcohol.isnull()].index)

In [ ]:
len(list(alcohol[alcohol.isnull()].index))

In [ ]:
alcohol.isnull().sum()

In [ ]:
# in python boolens ate integers   True is 1      False is 0

In [ ]:
np.isnan #ufunc is universal function

In [ ]:
ser = pd.Series(data=[True, False,None,2],dtype=float )
np.isnan(ser)

In [ ]:
np.isnan(alcohol).sum()

### 8. The Other Side notnull() And notna()

In [ ]:
alcohol.notnull()

In [ ]:
alcohol.loc[alcohol.notnull()]

## 10. Skill Challenge

1. isolate the non nulls in the alcohol series and assign them to the variable wine_servings.

In [ ]:
wine_servings = alcohol.loc[alcohol.notnull()]
wine_servings

2. what is the total wine consumed by countries in wine servings.

In [ ]:
wine_servings.sum()

3. in the wine_servings dataset, what was the total wine consumed by countries that less than 100 servings?

Hint: apply a boolen mask to identify such countries, then sum().

In [ ]:
wine_servings.loc[wine_servings < 100].sum()

### 12. Dropping And Filling NAs

In [ ]:
alcohol.dropna()

In [ ]:
# alcohol = alcohol.dropna()
# alcohol.dropna(inplace=True)

.dropna() excludes NAs from the series.
.fillna() replaces NAd euth something else.

In [ ]:
alcohol.fillna(100, inplace=True)

### 13. Descriptive Statistics

In [ ]:
alcohol.sum() #not including the NA's
alcohol.count() 
alcohol.sum( )/ alcohol.count()

alcohol.median()  # the most middlemost element in a sorted list of numbers.  the median is the value separating the higher half from the lower half of a data sample

alcohol.quantile(.5) == alcohol.median()


alcohol.hist( )


iqr = alcohol.quantile(.75) - alcohol.quantile(.25)
iqr



alcohol.min()
alcohol.max()

alcohol.std()  # standard deviation

alcohol.var() # variance

### 14. The describe() Method

In [ ]:
alcohol.describe()

In [ ]:
alcohol.describe(percentiles=[.79, .33])

In [ ]:
alcohol.describe(percentiles=[.79, .33],include= float, exclude=object)

### 15. mode() And value_counts()

In [ ]:
# the mode of a set of values is the vbalue that appears most often. it can be multiple values.

In [ ]:
alcohol.mode() # the most commen number

In [ ]:
alcohol == 1

In [ ]:
alcohol.value_counts()
alcohol.value_counts(sort=True,ascending= False,dropna=True,normalize=False)

### 16. idxmax() And idxmin()

In [ ]:
alcohol.max()

In [ ]:
alcohol[alcohol == alcohol.max()]

In [ ]:
type(alcohol[alcohol == alcohol.max()].index)

In [ ]:
alcohol[alcohol == alcohol.max()].index[0]

In [ ]:
alcohol.idxmax() # returns the label of the row with minium value

# if multiple min\max values, only the first lavel is returned

In [ ]:
alcohol.idxmin() # returns the label of the row with maximum value

### 17. Sorting With sort_values()

In [ ]:
alcohol.sort_values()

In [ ]:
alcohol.sort_index()

In [ ]:
alcohol.sort_values(ascending=False,na_position='last',inplace=False, kind='quicksort\ mergesort\ heapsort')

### 18. nlargest() And nsmallest()

In [ ]:
alcohol.sort_values(ascending=False)[:10]

In [ ]:
alcohol.nlargest(n=15)

In [ ]:
alcohol.nsmallest(21)

### 19. Sorting With sort_index()

In [ ]:
alcohol.sort_index(ascending= False) # na_position='first'

### 20. Skill Challenge

### 1.     
select all the countries from alcohol that have more than 50 wine servings, and save them (and the corresponding values) in a variable "ifty_plus".

In [ ]:
fifty_plus = alcohol.loc[alcohol > 50]

### 2.

from "fifty_plus", choose the countries with the smallest 20 wine servings values.

In [ ]:
fifty_plus_20_smallest = fifty_plus.nsmallest(20)

### 3.
what is mean, meadian and standard deviation for the sample form step 2 ?

In [ ]:
fifty_plus_20_smallest.mean()

In [ ]:
fifty_plus_20_smallest.median()

In [ ]:
fifty_plus_20_smallest.std()

In [ ]:
fifty_plus_20_smallest.describe()

### 22. Series Arithmetics And fill_value()

In [ ]:
alcohol + 2

In [ ]:
(alcohol -10 ) * 2

In [ ]:
alcohol.sort_index(inplace=True)
alcohol

In [ ]:
more_drinks = pd.Series({'Albania':6,'Algeria':10 })

In [ ]:
alcohol + more_drinks

In [ ]:
alcohol.add(more_drinks)

In [ ]:
alcohol.add(more_drinks,fill_value=0)

In [ ]:
alcohol - more_drinks

In [ ]:
alcohol.subtract(more_drinks, fill_value=0)

In [ ]:
alcohol.divide(more_drinks, fill_value=1)

In [ ]:
alcohol.multiply(more_drinks, fill_value=1)

### 23. BONUS Calculating Variance And Standard Deviation

Variance  -  The average of squared differences form the maean

In [ ]:
alcohol.var()

In [ ]:
(alcohol.subtract (alcohol.mean()) **2 ).sum() / (alcohol.count()-1)

In [ ]:
alcohol.std()

In [ ]:
((alcohol.subtract (alcohol.mean()) **2 ).sum() / (alcohol.count()-1))**(1/2)

### 24. Cumulative Operations

In [ ]:
alcohol.sum()

In [ ]:
alcohol.cumsum()

In [ ]:
alcohol.cumsum(skipna=False)

In [ ]:
alcohol.prod()

In [ ]:
alcohol.cumprod()

In [ ]:
alcohol.cumprod()[-1] == alcohol.prod()

In [ ]:
# cummin and cummax

In [ ]:
alcohol.min()

In [ ]:
alcohol.cummin()

In [ ]:
alcohol.max()

In [ ]:
alcohol.cummax()

### 25. Pairwise Differences With diff()

In [ ]:
# diff is used to calculate the discrete difference for pairs of elements in a series.

# the difference of an element form the preivos element
alcohol.diff().head(10)

In [ ]:
alcohol.diff(periods=2)

In [ ]:
alcohol.diff(periods=-1)

### 26. Series Iteration

In [ ]:
mini_alc = alcohol[:10]
mini_alc

In [ ]:
for i in mini_alc:
    print(i)

In [ ]:
for i in mini_alc.index:
    print(i)

In [ ]:
for i in mini_alc.index:
    print(i, mini_alc[i])

In [ ]:
for i in mini_alc.items():
    print(i)

In [ ]:
for i in mini_alc.iteritems():
    print(i)

### 27. Filtering filter(), where(), And mask()

In [ ]:
alcohol.filter(regex='^V')

filter by index

In [ ]:
alcohol.filter(like='stan')

filter by values

In [ ]:
alcohol[alcohol > 200]

In [ ]:

def gt200(x):
    return x > 200

alcohol[gt200]

In [ ]:
gt200(alcohol)

the where mathod
replace the values where the condition is False

In [ ]:
alcohol.where(lambda x: x>200 , other= 'too small ')

In [ ]:
alcohol.where(lambda x: x>200 )

In [ ]:
alcohol.where(lambda x: x>200).dropna()

In [ ]:
alcohol.where(lambda x: x <= 200).dropna()

the mask method
Replace the values where the condition is True.

In [ ]:
alcohol.mask(lambda x: x>200).dropna()

### 28. Transforming With update(), apply() And map()

update() - modifies series values in place uysing another series
ser.update(other_series).


apply() - apply function (or ufunc) on each series value
ser.apply(np.square) 

map() - subs series values with others from a function, series or dict.
ser.map({'old_series': 'new_series'})

In [ ]:
alcohol.loc['Albania'] = 999 
alcohol

In [ ]:
alcohol.update(pd.Series(data=[991,992],index=['Albania','Algeria']))
alcohol

In [ ]:
# the apply method

alcohol.apply(lambda x: x**2 )

In [ ]:
alcohol.apply(np.square)

In [ ]:
def multiply_by_self(x):
    return x*x 

alcohol.apply(multiply_by_self)

In [ ]:
def multiply_by_self_with_min(x, min_servings):
    if x < min_servings:
        return x**2
    return x

In [ ]:
alcohol.apply(multiply_by_self_with_min, args= (200,))

In [ ]:
alcohol.apply(mltiply_by_self_with_min,min_servings= 2 )

In [ ]:
alcohol.map(np.square)

In [ ]:
alcohol.map(lambda x: x**2)

### 29. Skill Challenge

1.

Read the drinks.csv dataset again, this time bringing in the beer_servins into a new series with country again acting as the index.
Assign this series to the variable beers.

2.

calculate the mean, median, and stanard deviation of beer serving in beers. is the distribution right or left skewed?

3.

Slice the first 10 countriees from beers. Are these relatively large or small relative to the rest of the sample?
BOUNS - To answer that, we could compare each value to the mean or median. An even better approach would be to calculate standard scores,
or Z-scores as they are known.

4.


BOUNS    Create a new series that uses series arithmetics to calculate the z-score for each serving by subtracting from each the mean and dividing the difference by the standard deviation. Point the variable z-scores to this series.
Which country has the largest absolute z-scores? is this a positive or negatice deviation?

In [ ]:
beers = pd.read_csv(r'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv',usecols=['country','beer_servings'],index_col= 'country').squeeze(1)
beers

In [ ]:
beers.mean()

In [ ]:
beers.median()

In [ ]:
beers.std()
# beers.var()**(1/2)
# np.sqrt(beers.var())

In [ ]:
beers.describe()

In [ ]:
beers.hist()
# this is a right

In [ ]:
the_first_10 = beers.head(10)  # beers[:10]
the_first_10

In [ ]:
(the_first_10 - beers.mean() ) .apply(lambda x: 'low' if x<0 else "high"  )

In [ ]:
(the_first_10 - beers.mean() ) .apply(lambda x: 'low' if x<0 else "high"  ).value_counts()

In [ ]:
the_first_10 - beers.median()

In [ ]:
# z = (x(the value) – μ(the mean)) / σ(the std)

# = (190(the value) – 150(the mean)) / 25(the std) = 1.6

z_scores =  (beers - beers.mean())/beers.std()

In [ ]:
# z_scores = abs(z_scores).max()
z_scores = abs(z_scores)

In [ ]:
z_scores[z_scores == z_scores.max()]

In [97]:

beers[beers.idxmax()]

c:\Users\shay4\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\magics\execution.py:490: UserWarning:

Error changing user exception modes.
Unrecognized mode in FormattedTB: <Beers[beers.idxmax()]>
Valid modes: ['Plain', 'Context', 'Verbose', 'Minimal']

Reading in Nutrition Data

In [ ]:
dataurl = 'https://andybek.com/pandas-nutrition'

In [ ]:
nutrition = pd.read_csv(dataurl,index_col='Unnamed: 0')
# nutrition.drop("Unnamed:0",axis = 1)
# nutrition.set_index('Unnamed: 0')

In [ ]:
nutrition[:2]

The .sample() Method

In [ ]:
nutrition.sample()

In [ ]:
nutrition.sample(random_state=12)

In [ ]:
nutrition.sample(frac=0.001)

In [89]:
nutrition.set_index('name',inplace=True)

In [99]:
nutrition.at['Fish, raw, milkfish','calories']

148

In [100]:
nutrition.iat[1,1]

691

In [ ]:

lowercase_letters = list(ascii_lowercase)
uppercase_letters = list(ascii_uppercase)

# seris= pd.Series(data=lowercase_letters,index=map(lambda x:'title ' + x ,uppercase_letters))
seris = pd.Series(data=lowercase_letters,index=uppercase_letters)
seris.add_prefix('letter  ').add_suffix(' |small letter')

In [ ]:
seris.loc[[True for i in range(26)]]

In [ ]:
# numm = np.arange(0,101)
# x = map(lambda x:print(x) for x in numm x**2 )
df